@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-image: url("../img/background.png");
    background-size: 100%;

    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/*width: 1023px;*/
.wrapper {
    width: 1023px;

    margin: 0 auto;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
}

.logo {
    color: white;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.logo:hover img {
    content: url("../img/logoorange.png");
}

.logo:hover .text {
    color: #F26522;

}

.logo div {
    padding-left: 8px;

}

.logo h1 {
    font-weight: 700;
    font-size: 29px;
    line-height: 33px;

}

.logo span {
    font-size: 18px;
}

.contacts {
    color: white;
    text-align: right;
}

.contacts p {
    padding-bottom: 20px;
}

.contacts a {
    color: white;
}

.contacts a:hover {
    color: #F26522;
    transition: 0.5s;
}


.tours {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 220px);
    grid-column-gap: 61px;
    grid-row-gap: 78px;
    padding-top: 22px;
    padding-bottom: 49px;
}

.tours p {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.tours-items {
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 18px;


}
.tours-items img{
    border: 2px solid;
    border-image-source: linear-gradient(black, white);
    border-image-slice: 1;
    box-sizing: border-box;
}
.photos-price {
    opacity: 0;
    width: 100%;
    height: 55px;
    background: #F26522;
    position: absolute;
    color: white;
    top: 167px;
    left: 2px;

}

.tours-items:hover .photos-price {
    opacity: 1;
    transition: 0.5s;
}

.tours-items:hover p {
    color: #F26522;
    transition: 0.5s;
}

.small-size {
    position: absolute;
    left: 21px;
    top: 11px;

    font-weight: 400;
    font-size: 10px;
}

.big-size {
    position: absolute;
    left: 21px;
    top: 25px;

    font-weight: 400;
    font-size: 20px;
}

.view_details {
    position: absolute;
    left: 185px;
    top: 25px;
    font-weight: 400;
    font-size: 14px;
}

.view_details::after {
    padding-left: 16px;
    content: url("../img/arrow.png");
    text-align: center;
}

/*.tours div {*/
/*    border: 2p x solid;*/
/*    border-image: linear-gradient(to right, black, white);*/
/*}*/


.footer {
    color: white;
}

.rights {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 49px;

}